node_modules
bower_components
release
dist
vendor
.idea
*.log
.phpunit.result.cache

# Editors
*.esproj
*.tmproj
*.tmproject
tmtags
.*.sw[a-z]
*.un~
Session.vim
*.swp

# Mac OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini

# Playwright
/playwright-report/
/test-results/
/tests/e2e/dist/
/tests/e2e/test-results/
/tests/e2e/playwright-report/
/tests/e2e/blob-report/
/tests/e2e/playwright/.cache/
